.responsive {
    width: 100%;
    height: auto;
}

.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
}

body {
    background-color: beige;
    text-align: center;
}

strong {
    font-weight: bold;
    background-color: #9FE2BF;
}

h1 {
    color: #353935;
    background-image: url("CleanRoom.png");
}

h2 {
    color: #7393B3;
}

h3 {
    color: #36454F;
}

h4 {
    color: #FF3333;
}

h5 {
    color: #D27D2D;
}

p {
    color: brown;
}

ul.list_format {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.image_format {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

